// Put your custom SCSS code here

img.emote {
    display: inline;
    width: 1.55rem;
    height: auto;
    margin: 0 auto;
}

img.smallemote {
    display: inline;
    width: 1rem;
    height: auto;
}

img.largeemote {
    display: inline;
    width: 4rem;
    height: auto;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 1.5rem auto;
}